body{
	margin: 0;
	font-family: monospace;
	width: 100%;
	user-select: none;
}

.discrebtion{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.discrebtion .title{
	margin-left: 10px;
	width: calc (100% - 20px);
	font: 700 15px Monospace;
	margin-bottom: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.discrebtion .title .button-div{
	width: 100%;
}

.discrebtion textarea{
	width: calc(100% - 32px);
	height: 150px;
	outline: none;
	resize: none;
	margin-left: 10px;
	padding: 5px;
	margin-bottom: 15px;
}

.button-div{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin: 0 10px 15px;
}

.button{
	font: 700 16px Monospace;
	color: #000;
	background: #fff;
	border: 1px solid #000;
	padding: 5px;
	transition: all 0.3s;
	margin-left: 15px;
}

.button:active{
	color: #fff;
	background: #000;
}

.discrebtion .title .button-div{
	margin: 0 10px;
}

.discrebtion .title .button{
	font-size: medium;
	padding: 3px 5px;
}


.editor{
	width: calc(100% - 33px);
	height: 70vh;
	outline: none;
	resize: none;
	margin-left: 10px;
	padding: 5px;
	margin-bottom: 35px;
	border: 1.5px solid #777;
	font-size: 18px;
}